@model ProductVM

<div class="card">
    <div class="card-header bg-secondary">
        <div class="row">
            <div class="text-center">
                <h2 class="text-white">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upsert">
            <input type="hidden" asp-for="Product.Id" />
            <input type="hidden" asp-for="Product.CategoryId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-4">
                <label asp-for="Product.Name" class="control-label mb-1"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
                <div class="form-group m-4">
                    <label asp-for="Product.Description" class="control-label mb-1"></label>
                <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
                <div class="form-group m-4">
                    <label asp-for="Product.CategoryId" class="mb-1">Category</label>
                    <div class="form-floating col-12">
                        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-control border">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <label asp-for="Product.CategoryId" hidden></label>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
            </div>

                <div class="form-group m-4">
                    <label asp-for="Product.ListPrice" class="control-label mb-1"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="row">
                    <div class="col-6 m-4 col-md-3">
                    @if (Model.Product.Id != 0)
                    {
                        <button class="btn btn-primary form-control">Update</button>
                    }
                    else
                    {
                        <button class="btn btn-primary form-control">Create</button>
                    }
                 </div>
                    <div class="col-6 m-4 col-md-4">
                    <a asp-controller="Products" asp-action="Index" class="btn btn-outline-primary border form-control">
                        Back to List
                    </a>
                 </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
