@model ProductVM

<div class="card">
    <div class="card-header bg-secondary bg-gradien">
        <div class="row">
            <div class="text-center">
                <h2 class="text-white">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-control border-0 shadow">
                    <option disabled selected>--Select Category--</option>
                </select>
                <label asp-for="Product.CategoryId" class="ms-2"></label>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Product.CategoryId" class="control-label"></label>
                    <input asp-for="Product.CategoryId" class="form-control" />
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Product.ListPrice" class="control-label"></label>
                    <input asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    @if (Model.Product.Id != 0)
                    {
                        <button class="btn btn-primary form-control">Update</button>
                    }
                    else
                    {
                        <button class="btn btn-primary form-control">Create</button>
                    }
                 </div>
                 <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                        Back to List
                    </a>
                 </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
